body {
	font: 14px helvetica neue, helvetica, arial, sans-serif;
}

#menuContainer {
	background-color: #7D8BA3;
	height: 10%;
	width: 100%;
	position: absolute;
	left: 0;
	top: 0;
	opacity: 0.75;
	z-index: 999;
}

#menuTable {
	width: inherit;
	height: inherit;
	padding: 0;
	margin: 0;
	border: 0;
}

#menuTable th {
	font-weight: bold;
	font-size: medium;
}

#subheader {
	padding-bottom: 0px;
	font-weight: bold;
	font-size: small;
}

#cyInitialized {
	height: 80%;
	width: 50%;
	position: absolute;
	left: 0;
	right: 50%;
	top: 10%;
	border-bottom: 2px solid #808080;
}

#cyComputed {
	height: 80%;
	width: 50%;
	position: absolute;
	top: 10%;
	left: 50%;
	right: 0;
	border-left: 2px solid #808080;
	border-bottom: 2px solid #808080;
}

#areaInitializedContainer {
	height: 10%;
	width: 50%;
	position: absolute;
	bottom: 0%;
	left: 0%;
	right: 50%;
}

#areaComputedContainer {
	height: 10%;
	width: 50%;
	position: absolute;
	bottom: 0%;
	left: 50%;
	right: 0%;
}

#areaComputedTable,#areaInitializedTable {
	width: inherit;
	height: inherit;
	padding: 10;
	margin: 10;
	border: 1;
}

#areaComputedTable th,#areaInitializedTable th {
	text-align: center;
	background-color: #7D8BA3;
	font-weight: bold;
	font-size: medium;
	border-left: 0;
	border-right: 0;
}

#areaComputedTable td,#areaInitializedTable td {
	text-align: left;
	border: 1px solid grey;
	font-weight: bold;
	font-size: medium;
}

#areaInitializedTable {
	width: 100%;
	height: inherit;
	border: 1px solid #808080;
	border-collapse: collapse;
}

#areaComputedTable {
	width: 100%;
	height: inherit;
	border: 1px solid #808080;
	border-collapse: collapse;
}

#json {
	display: none;
	border-top: 2px solid #808080;
	height: 1%;
	width: 100%;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	border-top: 2px solid #808080;
}