/* styles for cpm-cytoscape html rendering */
html, body {
	font-family: "Helvetica Neue","Helvetica","Arial","Verdana","sans-serif";
  font-size: 14px;
  line-height: 1.42857;
	margin:0; 
	padding:0;
	background-color: #ddd; /*#8E9CB4;*/
	height:100%;
  min-height:100%;
	overflow-y: auto;
}

#menuContainer {
	background-color: #ddd; /*#8E9CB4;*/
	color:#333;
	height: 12%;
	height:auto;
	clear:both;
	min-height: 6em;
	width: 100%;
	margin-top:0em;
	opacity: 0.85;
	z-index: 999;
  padding:0.5em 1em;
	box-sizing: border-box;
}
#menuHeader {
	clear:both;
	text-align: center;
	display: none;
	border:1px solid #ddd; /*#8E9CB4;*/
}
#menuHeader h1 {
	font-weight: bold;
	font-size: medium;
	clear: both
}
#menuContainer input {
  width:auto;
  min-width:1em;
  max-width:3.5em;
  margin-right:0.5em;
  text-align: center;
}
#menuContainer input[type=number]::-webkit-inner-spin-button, 
#menuContainer input[type=number]::-webkit-outer-spin-button {  
   opacity: 1;
}
#subheader {
  padding-top:0.5em;
	padding-bottom: 0px;
	font-weight: bold;
	font-size: small;
}
#middleContainer {
	position: relative;
	clear:both;
	margin:0;
	height: 68%;
	min-height: 200px;
	width:100%;
}
#cyInitialized, #cyComputed {
	background-color: #fff;
	height: 100%;
	position: absolute;
	width: 50%;
}
#cyInitialized {
	margin-right:-2px;
	float: left;
	position:relative;
	bottom: 0px;
	left:0;
	top:0;
	bottom:0;
	border-bottom: 1px solid #808080;
}
#cyComputed {
	margin-left:-2px;
	float:right;
	right:0;
	top:0;
	bottom:0;
	border-left: 1px solid #808080;
	border-bottom: 1px solid #808080;
}

#growthAsLineChartContainer {
  position: absolute;
  top: 0.5em;
  left:25%;
  right: 25%;
  margin: 5em auto;
  opacity:0.85;
  width: 50%;
  height: 10em;
  border:1px solid #333;
  background:#fff;
  z-index:2; 
  padding:1em;   
}
#growthAsLineChartContainer #lineChart {
  float:left;
  width:100%;
  height:100%;
}
.flot-text .tickLabel {
  font-size: 0.8em;
}

#bottomContainer {
	clear: both;
	min-height: 6em;
	position: relative;
	height: 30%
	width: 100%;
}
#bottomContainer #areaInitializedTable {
	float: left;
	margin-left:2em;
}
#bottomContainer #areaComputedTable {
	float: right;
	margin-right:2em;
}
#areaComputedTable, #areaInitializedTable {
	border: 1px solid #808080;
	background: #ddd; /*#8E9CB4;*/
	width: 42%;
	height: auto;
	padding: 0.5em;
	margin: 1em;
	text-align: center;
}
#areaComputedTable td, #areaInitializedTable td {
	padding:0.25em;
	border-top: 1px solid #808080;
	border-right: 1px solid #808080;
}

/* primary colors are now set dynamically by js to support greater sigma differentiation than 2 */
/* #areaInitializedTable td:nth-child(odd), #areaComputedTable td:nth-child(odd) { background: red; }
#areaInitializedTable td:nth-child(even), #areaComputedTable td:nth-child(even) { background: green; } 
#areaInitializedTable td:nth-child(0), #areaComputedTable td:nth-child(0) { background: inherit; }
#areaInitializedTable td:nth-child(1), #areaComputedTable td:nth-child(1) { background: inherit; }   */
#areaInitializedTable td:nth-child(2), #areaComputedTable td:nth-child(2) { background: grey; }

#json {
  display: none;
  border-top: 1px solid #808080;
  height: 1%;
  width: 100%;
  float: left;
  clear:both;
}


/* info icon */
span.info-icon {
  display: block;
  position: relative;
  float:left;
  width: 1em;
  height:1em;
  line-height:1em; 
  margin-top:4px;
  margin-right:8px;
}
span.info-icon:before {
  content:"i";
  left:3px;
  width:16px;
  height:16px;
  margin-top:-8px;
  font-size:14px;
  font-weight:bold;
  font-style:italic;
  line-height:15px;
  text-align:center;
  color:#fff;
  display: inline-block;
  background:#2385BA;
  -webkit-border-radius:16px;
  -moz-border-radius:16px;
  border-radius:16px;
}

/*loading spinner styles */
.loading-spinner {
  -webkit-animation-duration: 2s;
  -moz-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-name: rotate-forever;
  -moz-animation-name: rotate-forever;
  animation-name: rotate-forever;
  -webkit-animation-timing-function: linear;
  -moz-animation-timing-function: linear;
  animation-timing-function: linear;
  height: 30px;
  width: 30px;
  border: 5px solid #000;
  float:left;
	z-index:99999;
  border-right-color: transparent;
  border-radius: 50%;
  display: block;
}
.loading-spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -15px -10px -15px -20px;
}
@-webkit-keyframes rotate-forever {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-moz-keyframes rotate-forever {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes rotate-forever {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

/* div classes */
.clear {
	clear: both;
}
.hide {
	display: none;
}